{% extends 'base.html.twig' %}

{% block title %}Tous nos bien{% endblock %}

{% block body %}
    <div class="container mt-4">
        <h1>Voir tous nos biens</h1>
        <p>Le Lorem Ipsum est simplement du faux texte employé dans la composition et la mise en page avant impression.</p>
    </div>
{% endblock %}
